In [3]:
#pip install pandas numpy

In [4]:
sentence_one = "I am a cow"
sentence_two = "Cow is what I am"
sentence_three = "Today is Tuesday"

Ekstraksi kata-kata unik dari ketiga kalimat

In [5]:
tokens = []
for word in sentence_one.lower().split():
    if word not in tokens:
        tokens.append(word)
        
for word in sentence_two.lower().split():
    if word not in tokens:
        tokens.append(word)

for word in sentence_three.lower().split():
    if word not in tokens:
        tokens.append(word)

In [6]:
tokens

['i', 'am', 'a', 'cow', 'is', 'what', 'today', 'tuesday']

Membuat representasi vektor untuk ketiga kalimat

In [7]:
vector_one = []
for token in tokens:
    if token in sentence_one.lower().split():
            vector_one.append(1)
    else:
            vector_one.append(0)

In [8]:
vector_one

[1, 1, 1, 1, 0, 0, 0, 0]

In [9]:
vector_two = []
for token in tokens:
    if token in sentence_two.lower().split():
            vector_two.append(1)
    else:
            vector_two.append(0)

In [10]:
vector_two

[1, 1, 0, 1, 1, 1, 0, 0]

In [11]:
vector_three = []
for token in tokens:
    if token in sentence_three.lower().split():
            vector_three.append(1)
    else:
            vector_three.append(0)

In [12]:
vector_three

[0, 0, 0, 0, 1, 0, 1, 1]

Menghasilkan data dalam bentuk tabel untuk keperluan analisis

In [13]:
import pandas as pd

In [14]:
dataFrame = pd.DataFrame(columns=['words','sentence_one', 'sentence_two','sentence_three'])

In [15]:
dataFrame['words'] = tokens
dataFrame['sentence_one'] = vector_one
dataFrame['sentence_two'] = vector_two
dataFrame['sentence_three'] = vector_three

In [16]:
print(sentence_one + '\n' + sentence_two + '\n' + sentence_three)
dataFrame

I am a cow
Cow is what I am
Today is Tuesday

     words  sentence_one  sentence_two  sentence_three
0        i             1             1               0
1       am             1             1               0
2        a             1             0               0
3      cow             1             1               0
4       is             0             1               1
5     what             0             1               0
6    today             0             0               1
7  tuesday             0             0               1

Observasi & Analisis

Kalimat mana yang mengandung kata 'cow' tetapi tidak mengandung kata 'tuesday'?

In [17]:
cow_vector = [1,1,0]
print(f'Vector for cow : {cow_vector}')

Vector for cow : [1, 1, 0]

In [18]:
tuesday_vector = [0,0,1]
print(f'Vector for tuesday : {tuesday_vector}')

Vector for tuesday : [0, 0, 1]

In [19]:
not_tuesday_vector = [1,1,0]

In [20]:
result_vector = []
for i in range(len(cow_vector)):
    # For 1 & 1
    if (cow_vector[i] == 1 and not_tuesday_vector[i] == 1):
        result_vector.append(1)
    # For 1 & 0 or 0 & 1
    elif (cow_vector[i] == 1 and not_tuesday_vector[i] == 0) or (cow_vector[i] == 0 and not_tuesday_vector[1] == 1):
        result_vector.append(0)
    else:
        result_vector.append(0)
print(f'Final vector post BITWISE AND operator : {result_vector}')

Final vector post BITWISE AND operator : [1, 1, 0]

Oleh karena itu, kita menyimpulkan bahwa kalimat satu dan kalimat dua mengandung istilah 'cow' tetapi tidak mengandung 'tuesday'.

Apakah ada pengamatan lain yang bisa dilakukan?

In [21]:
import numpy as np

In [22]:
print(f'Dot Product of sentence one and two is -> {np.dot(vector_one, vector_two)}')

Dot Product of sentence one and two is -> 3

In [23]:
print(f'Dot Product of sentence one and three is -> {np.dot(vector_one, vector_three)}')

Dot Product of sentence one and three is -> 0

In [24]:
print(f'Dot Product of sentence two and three is -> {np.dot(vector_two, vector_three)}')

Dot Product of sentence two and three is -> 1

Oleh karena itu, kita menyimpulkan bahwa kalimat satu dan kalimat dua cukup mirip satu sama lain.

Indeks Terbalik

In [25]:
sorted_tokens = sorted(tokens)

In [26]:
sorted_tokens

['a', 'am', 'cow', 'i', 'is', 'today', 'tuesday', 'what']

In [27]:
token_frequency = []
for token in sorted_tokens:
    token_frq = 0
    for word in sentence_one.lower().split():
        if word == token:
            token_frq += 1
    for word in sentence_two.lower().split():
        if word == token:
            token_frq += 1
    for word in sentence_three.lower().split():
        if word == token:
            token_frq += 1
    token_frequency.append(token_frq)

In [28]:
token_frequency

[1, 2, 2, 2, 2, 1, 1, 1]

In [29]:
posting_list = []
for token in sorted_tokens:
    p_list = ""
    for word in sentence_one.lower().split():
        if word == token and  "1 -->" not in p_list:
            p_list += "1 -->"
    for word in sentence_two.lower().split():
        if word == token and  "2 -->" not in p_list:
            p_list += "2 -->"
    for word in sentence_three.lower().split():
        if word == token and  "3 -->" not in p_list:
            p_list += "3 -->"
    posting_list.append(p_list)

In [30]:
posting_list

['1 -->',
 '1 -->2 -->',
 '1 -->2 -->',
 '1 -->2 -->',
 '2 -->3 -->',
 '3 -->',
 '3 -->',
 '2 -->']

In [31]:
posting_list_df = pd.DataFrame(columns = ['words','term_frequency','posting_list'])

In [32]:
posting_list_df['words'] = sorted_tokens
posting_list_df['term_frequency'] = token_frequency
posting_list_df['posting_list'] = posting_list

In [33]:
print(sentence_one + '\n' + sentence_two + '\n' + sentence_three)
posting_list_df

I am a cow
Cow is what I am
Today is Tuesday

     words  term_frequency posting_list
0        a               1        1 -->
1       am               2   1 -->2 -->
2      cow               2   1 -->2 -->
3        i               2   1 -->2 -->
4       is               2   2 -->3 -->
5    today               1        3 -->
6  tuesday               1        3 -->
7     what               1        2 -->

In [34]:
input_search = input("Enter the search string : ")

In [35]:
input_search

'what cow'

In [36]:
filter_from_posting_list = []
for token in input_search.split():
    filter_from_posting_list.append(posting_list_df[posting_list_df.words == token]['posting_list'].item())

In [37]:
filter_from_posting_list

['2 -->', '1 -->2 -->']

In [38]:
searched_list = []
for x in filter_from_posting_list:
    for y in x.split(' -->'):
        if y is not '':
            searched_list.append(y)

<>:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
/tmp/ipykernel_9268/3151438616.py:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
  if y is not '':

In [39]:
print(f'Documents which are retrived based on the input strings are - {set(sorted(searched_list))}')

Documents which are retrived based on the input strings are - {'1', '2'}