In [1]:
#pip install pandas numpy

In [2]:
kalimat_1 = "Saya suka belajar pemrograman Python"
kalimat_2 = "Python adalah bahasa pemrograman yang populer"
kalimat_3 = "Saya belajar Python di VSCode menggunakan WSL"

Ekstraksi kata-kata unik dari ketiga kalimat

In [3]:
tokens = []
for word in kalimat_1.lower().split():
    if word not in tokens:
        tokens.append(word)
        
for word in kalimat_2.lower().split():
    if word not in tokens:
        tokens.append(word)

for word in kalimat_3.lower().split():
    if word not in tokens:
        tokens.append(word)

In [4]:
tokens

['saya',
 'suka',
 'belajar',
 'pemrograman',
 'python',
 'adalah',
 'bahasa',
 'yang',
 'populer',
 'di',
 'vscode',
 'menggunakan',
 'wsl']

Membuat representasi vektor untuk ketiga kalimat

In [5]:
vector_one = []
for token in tokens:
    if token in kalimat_1.lower().split():
            vector_one.append(1)
    else:
            vector_one.append(0)

In [6]:
vector_one

[1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]

In [7]:
vector_two = []
for token in tokens:
    if token in kalimat_2.lower().split():
            vector_two.append(1)
    else:
            vector_two.append(0)

In [8]:
vector_two

[0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0]

In [9]:
vector_three = []
for token in tokens:
    if token in kalimat_3.lower().split():
            vector_three.append(1)
    else:
            vector_three.append(0)

In [10]:
vector_three

[1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1]

Menghasilkan data dalam bentuk tabel untuk keperluan analisis

In [11]:
import pandas as pd

In [12]:
dataFrame = pd.DataFrame(columns=['words','kalimat_1', 'kalimat_2','kalimat_3'])

In [13]:
dataFrame['words'] = tokens
dataFrame['kalimat_1'] = vector_one
dataFrame['kalimat_2'] = vector_two
dataFrame['kalimat_3'] = vector_three

In [14]:
print(kalimat_1 + '\n' + kalimat_2 + '\n' + kalimat_3)
dataFrame

Saya suka belajar pemrograman Python
Python adalah bahasa pemrograman yang populer
Saya belajar Python di VSCode menggunakan WSL

          words  kalimat_1  kalimat_2  kalimat_3
0          saya          1          0          1
1          suka          1          0          0
2       belajar          1          0          1
3   pemrograman          1          1          0
4        python          1          1          1
5        adalah          0          1          0
6        bahasa          0          1          0
7          yang          0          1          0
8       populer          0          1          0
9            di          0          0          1
10       vscode          0          0          1
11  menggunakan          0          0          1
12          wsl          0          0          1

Observasi & Analisis

Kalimat mana yang mengandung kata 'pemrograman' tetapi tidak mengandung kata 'VSCode'?

In [15]:
pemrograman_vector = [1,1,0]
print(f'Vector for pemrograman : {pemrograman_vector}')

Vector for pemrograman : [1, 1, 0]

In [16]:
vscode_vector = [0,0,1]
print(f'Vector for vscode : {vscode_vector}')

Vector for vscode : [0, 0, 1]

In [17]:
not_vscode_vector = [1,1,0]

In [18]:
result_vector = []
for i in range(len(pemrograman_vector)):
    # For 1 & 1
    if (pemrograman_vector[i] == 1 and not_vscode_vector[i] == 1):
        result_vector.append(1)
    # For 1 & 0 or 0 & 1
    elif (pemrograman_vector[i] == 1 and not_vscode_vector[i] == 0) or (pemrograman_vector[i] == 0 and not_vscode_vector[i] == 1):
        result_vector.append(0)
    else:
        result_vector.append(0)
print(f'Final vector post BITWISE AND operator : {result_vector}')

Final vector post BITWISE AND operator : [1, 1, 0]

Oleh karena itu, kita menyimpulkan bahwa kalimat satu dan kalimat dua mengandung istilah 'cow' tetapi tidak mengandung 'tuesday'.

Apakah ada pengamatan lain yang bisa dilakukan?

In [19]:
import numpy as np

In [23]:
print(f'Dot Product of kalimat 1 and 2 is -> {np.dot(vector_one, vector_two)}')

Dot Product of kalimat 1 and 2 is -> 2

In [21]:
print(f'Dot Product of kalimat 1 and 3 is -> {np.dot(vector_one, vector_three)}')

Dot Product of kalimat 1 and 3 is -> 3

In [22]:
print(f'Dot Product of kalimat 2 and 3 is -> {np.dot(vector_two, vector_three)}')

Dot Product of kalimat 2 and 3 is -> 1

Oleh karena itu, kita menyimpulkan bahwa kalimat satu dan kalimat dua cukup mirip satu sama lain.

Indeks Terbalik

In [24]:
sorted_tokens = sorted(tokens)

In [25]:
sorted_tokens

['adalah',
 'bahasa',
 'belajar',
 'di',
 'menggunakan',
 'pemrograman',
 'populer',
 'python',
 'saya',
 'suka',
 'vscode',
 'wsl',
 'yang']

In [26]:
token_frequency = []
for token in sorted_tokens:
    token_frq = 0
    for word in kalimat_1.lower().split():
        if word == token:
            token_frq += 1
    for word in kalimat_2.lower().split():
        if word == token:
            token_frq += 1
    for word in kalimat_3.lower().split():
        if word == token:
            token_frq += 1
    token_frequency.append(token_frq)

In [27]:
token_frequency

[1, 1, 2, 1, 1, 2, 1, 3, 2, 1, 1, 1, 1]

In [28]:
posting_list = []
for token in sorted_tokens:
    p_list = ""
    for word in kalimat_1.lower().split():
        if word == token and  "1 -->" not in p_list:
            p_list += "1 -->"
    for word in kalimat_2.lower().split():
        if word == token and  "2 -->" not in p_list:
            p_list += "2 -->"
    for word in kalimat_3.lower().split():
        if word == token and  "3 -->" not in p_list:
            p_list += "3 -->"
    posting_list.append(p_list)

In [29]:
posting_list

['2 -->',
 '2 -->',
 '1 -->3 -->',
 '3 -->',
 '3 -->',
 '1 -->2 -->',
 '2 -->',
 '1 -->2 -->3 -->',
 '1 -->3 -->',
 '1 -->',
 '3 -->',
 '3 -->',
 '2 -->']

In [30]:
posting_list_df = pd.DataFrame(columns = ['words','term_frequency','posting_list'])

In [31]:
posting_list_df['words'] = sorted_tokens
posting_list_df['term_frequency'] = token_frequency
posting_list_df['posting_list'] = posting_list

In [32]:
print(kalimat_1 + '\n' + kalimat_2 + '\n' + kalimat_3)
posting_list_df

Saya suka belajar pemrograman Python
Python adalah bahasa pemrograman yang populer
Saya belajar Python di VSCode menggunakan WSL

          words  term_frequency     posting_list
0        adalah               1            2 -->
1        bahasa               1            2 -->
2       belajar               2       1 -->3 -->
3            di               1            3 -->
4   menggunakan               1            3 -->
5   pemrograman               2       1 -->2 -->
6       populer               1            2 -->
7        python               3  1 -->2 -->3 -->
8          saya               2       1 -->3 -->
9          suka               1            1 -->
10       vscode               1            3 -->
11          wsl               1            3 -->
12         yang               1            2 -->

In [55]:
input_search = input("Enter the search string : ")

In [56]:
input_search

'pemrograman saya'

In [57]:
filter_from_posting_list = []
for token in input_search.split():
    filter_from_posting_list.append(posting_list_df[posting_list_df.words == token]['posting_list'].item())

In [58]:
filter_from_posting_list

['1 -->2 -->', '1 -->3 -->']

In [59]:
searched_list = []
for x in filter_from_posting_list:
    for y in x.split(' -->'):
        if y is not '':
            searched_list.append(y)

<>:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
<>:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
/tmp/ipykernel_2526/3151438616.py:4: SyntaxWarning: "is not" with 'str' literal. Did you mean "!="?
  if y is not '':

In [60]:
print(f'Documents which are retrived based on the input strings are - {set(sorted(searched_list))}')

Documents which are retrived based on the input strings are - {'2', '1', '3'}